#header{
  position: fixed;
  top: 0;
  height: 88px;
  width: 100%;
  z-index: 200;
  background: $white_color;
  
  .sec-inner{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 10rem;
  }
  .sec-box{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .sec-logo{
    display: block;
    width: 260px;
    flex-shrink: 0;
  }
  .sec-list{
    margin-left: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 8px;
    width: 100%;
    max-width: 103rem;

    .item{
      font-weight: 700;
      text-align: center;

      &.plus{
        position: relative;
        padding-right: 30px;
        list-style: none;
        &::before,
        &::after{
          content: "";
          position: absolute;
          width: 20px;
          height: 2px;
          border-radius: 2px;
          background: $accent_color;
          top: calc(50% - 1px);
          right: 0;
          transform-origin: center;
        }
        &::after{
          transform: rotate(90deg);
        }
      }

    }
  }
  .sec-btn{
    display: block;
    font-weight: 700;
    color: $white_color;
    text-align: center;
    position: relative;
    width: 128px;
    margin-left: 66px;
    // white-space: nowrap;

    &::before{
      content: "";
      position: absolute;
      // max-width: 231px;
      width: 231px;
      aspect-ratio: 1/1;
      left: 50%;
      transform: translateX(-50%);
      bottom: -70px;
      background: $accent_color;
      z-index: -1;
      border-radius: 50%;
    }
  }
}